.main-div{
    border: none;
    box-shadow: 0 0 5px grey;
    width: 50%;
    height: 900px;
   margin-left: 40px;
   margin-top: 20px;   
    
}
.head{
    position: absolute;
    margin-left: 80px;
    margin-top: 80px;
    
}
p{
    color: grey;
}